#svgMain {margin-left:auto; margin-right:auto; display:block; width:40em;}

#query {
	text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
