p{
    font-family: Arial, Helvetica, sans-serif;
    color: #424344;
    line-height: 1.6;
    margin: 20px 250px;
    /*text-align: justify;*/
    /*text-justify: inter-word;*/
    /*background-color: #e3e4e5;*/
}

#svgMain {margin-left:auto; margin-right:auto; display:block; width:40em;}

#query {
	text-align: center;
}

#plot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40em;
}

#about-btn{
    background-color: white; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    /*width: 25px;*/
    display: block;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;

}

#about{
    text-align: center;
}

.img{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /*width: 20px;*/
}
