<head>
{% block head %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css')}}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')  }}">
{% endblock %}
</head>

 {% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li<{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
 {% endwith %}

<img src="{{url_for('static', filename='nlplotlib.svg')}}" id="svgMain"> 

<button type="button" onclick="toggleShow('about')" id="about-btn"><h1>Show/Hide Help</h1></button>

<div id="about" style=display:none>
<p> NLPlotlib is an experimental tool for creating and modifying data visualizations from natural language queries. 
You can help us make it better by sending it queries. 
Every time you submit a query, the machine learning model being the tool improves its configuration based on your feedback.<br>

<b> Making a new plot </b> </br>

For the moment we are workign with a fixed dataset that has the following columns: 'Petal_Length'. <br>
 
Try: 'Make a plot of Petal_Length' <br>

Our model will do some thinking and you will see a plot appear along with a a rating box, a download button and a plot id. <br>

To save the plot on your computer just click "Download" <br>

<b> Modifying an existing plot </b><br>

Simply paste the plot id you received when you created a plot into the plot id bar and type in a query. 

For example:

'Add a title "Flower" please.'

Please don't forget to give the result a rating to let us know how well the tool did!

</p>
</div>

<style>
input{
    margin:20px auto;
}
#query{
    border: 4px solid #840ef2;
    margin: auto;
    width: 500px;
    border-radius: 25px;
}
#tx{
    font-family: Arial, Helvetica, sans-serif;
}

#query_submit{
    background-color: #840ef2; 
    border: none;
    color: white;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 20px auto;
    border-radius: 25px;
}
</style>

<div id="query">
	<form action="/submitted" method="POST" onsubmit="showDiv('loading')">
	  <span id="tx"> Query </span> <input type="text" name="query" height="20" size="50" required><br>
	  <span id="tx"> Plot ID (optional) </span> <input type="text" name="plotid" size="30" value=""><br>
	  <input type="submit" id="query_submit">
	</form>
</div>

<div id="loading" style="display:none;">
<img src="{{url_for('static', filename='loading.gif')}}">
</div>


<div id="plot">
{% block result %}
{% endblock %}
</div>


<script>
function showDiv(id) {
   document.getElementById(id).style.display = "block";
}

function toggleShow(id) {
    var x = document.getElementById(id);
    if (x.style.display === "none") {
            x.style.display = "block";
                
    } else {
            x.style.display = "none";
                
    }
}

</script>

{% block feedback %}
{% endblock %}
