<head>
{% block head %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css')}}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')  }}">
{% endblock %}
</head>

 {% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li<{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
 {% endwith %}

<img src="{{url_for('static', filename='nlplotlib.svg')}}" id="svgMain"> 

<button type="button" id="about-btn" onclick="toggleShow('about')">About</button>
<div id="about" style=display:none>
Bla bla this is how it works.
</div>

<div id="query">
	<form action="/submitted" method="POST" onsubmit="showDiv('loading')">
	  <input type="text" name="query" size="50" required><br>
	  <input type="file" id="fileSelect" name="file" accept=".csv">
	  <input type="submit" id="query_submit">
	</form>
</div>

<div id="loading" style="display:none;">
<img src="{{url_for('static', filename='loading.gif')}}">
</div>


<div id="plot">
{% block result %}
{% endblock %}
</div>


<script>
function showDiv(id) {
   document.getElementById(id).style.display = "block";
}

function toggleShow(id) {
    var x = document.getElementById(id);
    if (x.style.display === "none") {
            x.style.display = "block";
                
    } else {
            x.style.display = "none";
                
    }
}

</script>

{% block feedback %}
{% endblock %}
